services:
  redis:
    image: "redis:alpine"
    container_name: trade_charts_redis

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: trade_charts_backend
    command: daphne -b 0.0.0.0 -p 8000 trade_charts.asgi:application
    volumes:
      - ./backend:/app/backend
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis

  frontend:
    build: ./frontend
    container_name: trade_charts_frontend
    volumes:
      - ./frontend:/app/frontend
      - /app/frontend/node_modules
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
    depends_on:
      - backend

  ticker:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: trade_charts_ticker
    command: ["/app/backend/scripts/ticker-entrypoint.sh"]
    volumes:
      - ./backend:/app/backend
      - ./backend/scripts:/app/backend/scripts
    environment:
      - REDIS_HOST=redis
    depends_on:
      - redis
      - backend
  nginx:
    image: nginx:stable-alpine
    container_name: trade_charts_nginx
    ports:
      - "3000:3000"
      - "6379:6379"
    volumes:
      # Mount our new NGINX configuration file into the container
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - frontend
      - backend
